



<h1 class=" text-center mt-5" id="titulo">
    Login
</h1>

<div class="container">
        <form action="/user/login" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="text-center m-4">
                <button type="submit" class="btn btn-success w-50">Login</button>
            </div>
            <div class="text-center m-4">
                <button type="reset" class="btn btn-danger w-50">Borrar Datos</button>
            </div>
        </form>
    </div>