

<h1 class=" text-center mt-5" id="titulo">
    Bienvenido a la Aplicación del Login
</h1>

{{!-- Linkeamos nuestro archivo index.hbs a un código JS para un evento --}}
<script src="/js/index.js"></script>